<div class="columns is-multiline is-mobile">
  <% @subjects.each do |s| %>

  <div class="column is-one-third has-gap">
  <div class="box is-one-third ">
   <%= link_to s.subject, s %> <%= @totalforums %></div>
 </div></br></br></br>
 
  <% end %>
</div>

 