<h3 class="title is-2 has-text-grey forum-title">Browse Alumni Ireland forums</h3></br></br>
<div class="columns is-multiline is-mobile">
  <% @subjects.each do |s| %>
  <div class="column is-one-third  has-gap">
  <div class="box is-one-third">
   <%= link_to s.subject, s %>
   	
   </div>
 </div></br></br></br>
 
  <% end %>
</div>

 