<p id="notice"><%= notice %></p>
<div class="columns">
  <div class="column is-one-quarter">
    <%= render 'userleft' %>
  </div>
  <div class="column is-two-quarter">
     
    <%= render 'profiles/form', profile: @profile %>
    
    <br />
<%= render 'shared/profiles' %>
  </div>
  <div class="column is-one-quarter">
   
  </div>
 
</div>
 


<br>

